<div class="row">
	<div class="col-xs-3">

		<h2>ユーザー情報</h2>
		<%= render 'admins/end_users/profile', end_user: @novel.end_user %>


	</div>

	<div class="col-xs-8"> 
		
          <div class="row">
          	
					<div class ="cover-text text-center">
						タイトル :
						<%= @novel.title %>
						
            <div class ="cover-text text-right">
            作者:
						<%= link_to admins_end_user_path(@novel.end_user) do %>
							<%= attachment_image_tag(@novel.end_user, :profile_image_id, :fill, 100, 100, fallback: "no-image-mini.jpg") %>
							<%= @novel.end_user.name %>
						<% end %>
					</div>
					</div>
          </div><br>
          <div class ="cover-text text-center">
          	内容<br><%= @novel.body %></div>

          </div>

</div>
