
<div class="row">
	<div class="col-xs-3">

		<h2>マイページ</h2>
		<%= render 'publics/end_users/profile', end_user: current_end_user %>

	</div>

	<div class="col-xs-7">
		<h2>小説タイトル一覧</h2>
		<!--novels一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ</th>
					<th>タイトル</th>
					<th>作者</th>
					<th></th>
					<th colspan="4"></th>
				</tr>
			</thead>

			<tbody>
				<% @novels.each do |novel| %>
				<tr>
					<td><%= novel.series_novel.title%></td>
					<td><%= link_to novel.title, publics_novel_path(novel), class: "novel_#{novel.id}" %></td>
					<td><%= novel.end_user.name%></td>
					<td>
            <% if novel.favorited_by?(current_end_user) %>
              <%= link_to publics_novel_favorites_path(novel), method: :delete do %>
                <span class="glyphicon glyphicon-heart"><%= novel.favorites.count%></span>
              <% end %>
            <% else %>
              <%= link_to publics_novel_favorites_path(novel), method: :post do %>
                <span class="glyphicon glyphicon-heart-empty"><%= novel.favorites.count %></span>
              <% end %>
            <% end %>
          </td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<!--novels一覧 -->
	</div>
</div>