<div class="col-lg-5">
		<p>閲覧タイトル一覧</p>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ名</th>
					<th>タイトル</th>
					<th>作者</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
		<% @histories.each do |history| %>
		<tr>
    	<td><%= history.title %></td>
        <td><%= history.body %></td>
        <td><%= link_to publics_end_user_path(history.end_user) do %>
						<%=history.end_user.name %>
							<% end %>
						</td>
        	
        </tr>
		<% end %>
				</tbody>
		</table>
	</div>

<div class="col-lg-5">
		<p>いいねランキング</p>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>順位</th>
					<th>シリーズ名</th>
					<th>タイトル</th>
					<th>作者</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
		<%@all_ranks.each.with_index(1) do |novel,i| %>
		<tr>
		<td>第<%= i %>位</td>
    	<td><%= novel.title %></td>
        <td><%= novel.body %></td>
        <td><%= link_to publics_end_user_path(novel.end_user) do %>
						<%=novel.end_user.name %>
							<% end %>
						</td>
        	
        </tr>
		<% end %>
				</tbody>
		</table>
	</div>
