<h2>問い合わせ一覧</h2>
    <table>
        <thead>
        <tr>
            <th>ユーザー名</th>
        <th>問い合わせタイトル</th>
        <th>受信日</th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <% user.contact.each do |contact| %>
              <tr>
                  <td><%= contact.user.name %><%= user.name %></td>
                  <td><%= contact.title %></td>
                  <td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
                  <td><%= link_to "返信", edit_admins_contact_path(contact) %></td>
                  <td><%= link_to "削除", admins_contact_path(contact), method: :delete %></td>
               </tr>
            <% end %>
       <% end %>
        </tbody>
</table>