<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
  <h2 class="section-ttl">ログイン</h2>
  <% if flash[:danger] %>
    <p class="text-red"><%= flash[:danger] %></p>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb2">
      <%= f.label :Eメール %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mb2">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h2 class="section-ttl">登録がお済みでない方</h2>
  <p><%= link_to "こちら", new_end_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
