<h2>シリーズ詳細編集</h2>

<div class="col-xs-3 col-xs-offset-1">

<%= form_for(@series_novel, url: publics_series_novel_path) do |f| %>
	<div class="field row">
		<%= f.label :シリーズ %><br>
		<%= f.text_field :title %>
	</div>
	<div class="field row">
		<%= f.label :紹介文 %><br>
		<%= f.text_area :introduction %>
	</div>
		
	<div class="actions">
	<%= f.submit :変更 %>
	</div>
<% end %>
</div>