
<div class="row">
  <div class="col-xs-1">
</div>
  <div class="col-xs-9">
    <h2>小説シリーズ詳細</h2>
    <div class="row">
            
          </div><br>
          <div>タイトル <%= @series_novel.title %>
          </div><br>
          <div>内容<br><%= @series_novel.introduction %></div><br>
          <% if @series_novel.end_user == current_end_user %>
            <div><%= link_to "Edit", edit_admins_series_novel_path(@series_novel), class: "btn-sm btn-success edit_series_novel_#{@series_novel.id}" %></div>
            <% end %>
    

          <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
    <% @novels.each do |novel| %>
        <tr>
          
          <td><%= link_to novel.title, admins_novel_path(novel), class: "novel_#{novel.id}" %></td>
          <td><%= novel.end_user.name %></td>
          
        </tr>
        <% end %>
        </tbody>
    </table>

  </div>
  </div>
</div>