<table class="table">
		<tr><%= attachment_image_tag(end_user, :profile_image_id, :fill, 100, 100, fallback: "NO_IMAGE.png") %></tr>

		<tr>
			<th>name</th>
			<th><%= end_user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= end_user.introduction %></th>
		</tr>
</table>


<% if end_user == current_end_user %>
  <div class='row'>
    <%= link_to 'プロフィール編集',edit_publics_end_user_path(end_user),class: "btn btn-primary" %>
  </div>
  <div class="row">
		<%= link_to '小説シリーズを作成する',new_publics_series_novel_path,class: "btn btn-primary" %><br>
		<%= link_to '小説を投稿する',new_publics_novel_path,class: "btn btn-primary" %>
		<%= link_to '閲覧履歴',publics_histories_path,class: "btn btn-primary" %><br>
	</div>
<% end %>
