<div class="container">
<div class="row">
	<div class="col-lg-2">
		<h2>マイページ</h2>
		<%= render 'publics/end_users/profile', end_user: @end_user %>
		<!--同コントローラーのviewで表示ならusersは省略可 -->
	</div>
	<div class="col-lg-5">
		<p>投稿タイトル一覧</p>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ名</th>
					<th>タイトル</th>
					<th>作者</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
		<% @novels.each do |novel| %>
				<tr>
					
					<td><%= link_to publics_series_novel_path(novel.series_novel) do %>
						<%= novel.series_novel.title%>
							<% end %>
						</td>
					<td><%= link_to novel.title, publics_novel_path(novel), class: "novel_#{novel.id}" %></td>
					
				</tr>
				<% end %>
				</tbody>
		</table>
	</div>
	<div class="col-lg-5">
		<p>お気に入りタイトル一覧</p>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>シリーズ名</th>
					<th>タイトル</th>
					<th>作者</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
  <% @favorites.each do |favorite|%>
    <tr>
    	<td><%= favorite.title %></td>
        <td><%= favorite.body %></td>
        <td><%= link_to publics_end_user_path(favorite.end_user) do %>
						<%=favorite.end_user.name %>
							<% end %>
						</td>
        	
        </tr>
    <%  end %>
	</div>
</tbody>
</table>
</div>
</div>
</div>

