<% if @model == 'end_user' %>
  <h3>ユーザー名検索結果 '<%= @content %>'</h3>
  <table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @datas.each do |end_user| %>
				<tr>
					<td><%= attachment_image_tag(end_user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
					<td><%= end_user.name%></td>
					<td><%= link_to "Show", publics_end_user_path(end_user), class: "end_user_#{end_user.id}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

  <% else @model == 'novels' %>
  <h3>小説検索結果 '<%= @content %>'</h3>

  <table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @novels.each do |novel| %>
				<tr>
					<td>
						<%= link_to end_user_path(novel.end_user) do %>
						<%= attachment_image_tag(novel.end_user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
						<% end %>
					</td>
					<td><%= link_to novel.title, novel_path(novel), class: "novel_#{novel.id}" %></td>
					<td><%= novel.body %></td>
					<!-- いいね機能 -->
          <td>
            <% if novel.favorited_by?(current_end_user) %>
              <%= link_to novel_favorites_path(novel), method: :delete do %>
                <span class="glyphicon glyphicon-heart"><%= novel.favorites.count%></span>
              <% end %>
            <% else %>
              <%= link_to novel_favorites_path(novel), method: :post do %>
                <span class="glyphicon glyphicon-heart-empty"><%= novel.favorites.count %></span>
              <% end %>
            <% end %>
          </td>
					<!-- いいね機能 -->
          <td>コメント数：<%= novel.novel_comments.count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
  <% end %>
