<!DOCTYPE html>
<html>
  <head>
    <title>C.R.E</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>

  <body>

<header class="navbar navbar-fixed-top navbar-inverse" style="background:#000080;">
          <nav class="nav navbar-nav navbar-left">
          <span>
            <%= link_to root_path do %>
            <%= image_tag "C.R.E.png", :size =>"100x40" %>
              <% end %>
            </span>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right" >

             <!--if文でadminのサインイン、end_end_userサインインとアウト時の表示を変更-->
            
            <% if end_user_signed_in? %>
            <li><div ccurrent_lass="search-form">
      <%= form_tag(publics_search_path, method: :get) do %>
        <%= text_field_tag 'search[content]' %>
        <%= select_tag 'search[model]', options_for_select({ "ユーザー" => "end_user", "小説" => "novel" }) %>
        <%= select_tag 'search[method]', options_for_select({ "完全一致" => "match", "部分一致" => "partical"  }) %>
        <%= submit_tag '検索', class: "btn btn-primary" %>
      <% end %>
    </div></li>
            <li><%= link_to 'マイページ', publics_end_user_path(current_end_user), class: 'glyphicon glyphicon-home home' %></li>
            <li><%= link_to '小説一覧', publics_novels_path, class: 'glyphicon glyphiconuser users' %></li>
            <li><%= link_to '小説シリーズ一覧', publics_series_novels_path, class: 'glyphicon glyphicon-user users' %></li>
            <li><%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% elsif admin_signed_in? %>
            <li><%= link_to '小説一覧', admins_novels_path, class: 'glyphicon glyphicon-home home' %></li>
            <li><%= link_to '小説シリーズ一覧', admins_series_novels_path, class: 'glyphicon glyphicon-user users' %></li>
            <li><%= link_to 'ユーザー一覧', admins_end_users_path, class: 'glyphicon glyphicon-link about' %></li>
             <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% else %>
            <li><%= link_to '新規登録', new_end_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
            <li><%= link_to 'ログイン', new_end_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <% end %>
          </ul>
        </nav>
        </div>

    </header>
<br>
<br>
<br>
    <%= yield %>
  
<footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 15px;">
              <br>
    <% if end_user_signed_in? %>
    <%= link_to 'お問い合わせ', publics_inquiry_path, class: 'glyphicon glyphicon-log-in sign_in' %>
       <% end %>
     </p>

            </div>
          </div>
         
          </div>
        </div>
      </div>
  </footer>

</body>
</html>
